/app/Config/database.php
/app/Config/hms.php
/app/Config/krb.php
/app/Config/hms.keytab
/app/Config/mailchimp.php
/app/Config/email.php
/app/Config/debug.php
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/vendors
/build
/dist
.DS_Store
/tags
/dev/setup/lib/hms.settings
/dev/setup/lib/sql/account_data.sql
/dev/setup/lib/sql/member_group_data.sql
/dev/setup/lib/sql/members_data.sql
/dev/setup/lib/sql/pins_data.sql
/dev/setup/lib/sql/rfid_tags_data.sql
/dev/setup/lib/sql/status_updates_data.sql
/dev/setup/lib/sql/mailinglists_data.development.sql
/dev/setup/lib/sql/mailinglist_subscriptions_data.development.sql
/dev/setup/lib/sql/hms_emails_data.development.sql
app/Lib/Krb/krb5Auth.php
app/Lib/MailChimp/MCAPI.php
docs/parsed
CodeSnifferReport.txt