/app/Config/database.php
/app/Config/hms.php
/app/Config/krb.php
/app/Config/hms.keytab
/app/Config/mailchimp.php
/app/Config/email.php
/app/Config/debug.php
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/vendors
/build
/dist
.DS_Store
/tags
hms.settings
/dev/Setup/Sql/account_data.sql
/dev/Setup/Sql/member_group_data.sql
/dev/Setup/Sql/members_data.sql
/dev/Setup/Sql/pins_data.sql
/dev/Setup/Sql/rfid_tags_data.sql
/dev/Setup/Sql/status_updates_data.sql
/dev/Setup/Sql/mailinglists_data.development.sql
/dev/Setup/Sql/mailinglist_subscriptions_data.development.sql
/dev/Setup/Sql/hms_emails_data.development.sql
app/Lib/Krb/Krb5Auth.php
app/Lib/MailChimp/MCAPI.php
docs
CodeSnifferReport.txt
dev/coverage.xml
dev/coverage_report/
dev/junit.xml
/plugins/Tools/Config/google.php
vendor/
bin/