<?php
    
    $config = array(
        'mailchimp_apiKey' => '%%key%%',
        'mailchimp_listId' => '%%list%%', // Nottingham Hackspace Announcements, retrieved by the lists() function
        );    
?>
