<?php
    
    $config = array(
        'hms_so_accountNumber' => '19098596',
        'hms_so_sortCode' => '60-24-77',
        'hms_so_accountName' => 'Nottinghack',

        'hms_help_manual_url' => 'http://wiki.nottinghack.org.uk/wiki/File:Nottingham-hackspace-manual-web-Nov2011.pdf',

        'hms_access_street_door' => '%%streetdoor%%',
        'hms_access_inner_door' => '%%innerdoor%%',

        'hms_access_wifi_ssid' => 'HSNOTTS',
        'hms_access_wifi_password' => '%%wifi%%',
        );    
?>
